/**
 * AC匿名版 desktop ver.
 * theme - Night
 */

html,#h-menu,#h-bottom-nav
    background #1C1D21
    color #445878

input[type=text],textarea,select
    background transparent
    outline none
    border 1px solid #666
    color #445878

input[type=submit],input[type=file]::-webkit-file-upload-button
    background #31353D
    color #999
    border 1px solid #666
    cursor pointer
    padding 2px 20px

a,.uk-nav-side ul a,#h-menu #h-menu-content .h-nav-item a
    color #445878
    background transparent

.h-threads-item .h-threads-item-replys .h-threads-item-reply .h-threads-item-reply-main,
#h-menu #h-menu-content .h-active,
#h-post-form .h-post-form-title,
#h-ref-view .h-threads-item-ref
    background #31353D

#h-content .h-title
    color #445878 !important

#h-menu #h-menu-content .h-nav-parent-header, #h-menu #h-menu-content .h-nav-header
    color #445878
    &:hover
        text-shadow none


.h-threads-item-reply-main
    background rgba(49, 53, 61, 0.5) !important

.h-pagination li a, .h-pagination li span,.uk-pagination>.uk-disabled>span
    background #31353D
    color #999
    text-shadow none

hr
    border-top 1px solid #31353D