body {
  font-family: 'Microsoft YaHei', '微软雅黑', tahoma, arial, simsun, '宋体';
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft YaHei', '微软雅黑', tahoma, arial, simsun, '宋体';
}
.uk-navbar-toggle {
  text-shadow: none;
  height: 40px;
  color: #fff;
}
.uk-navbar-toggle:hover {
  color: #fff;
}
.h-navbar {
  border: none;
  background: #0092c7;
}
.h-navbar .h-navbar-content,
.h-navbar .h-navbar-nav a {
  font-size: 14px;
  font-family: 'Microsoft YaHei', '微软雅黑', tahoma, arial, simsun, '宋体';
  color: #fff;
  text-shadow: none;
}
.t-nav-sub li a {
  padding: 5px 0;
}
.h-middle {
  padding: 20px 0 0 0;
}
.h-forum-subtitle {
  padding-left: 6px;
  border-left: 3px solid #1fa2d6;
  font-size: 16px;
  line-height: 16px;
}
.h-threads-container {
  position: relative;
}
.h-threads-container .h-threads-first-col,
.h-threads-container .h-threads-second-col {
  margin: 0 55px 0 0;
}
.h-threads-container .h-threads-title,
.h-threads-container .h-threads-name {
  font-weight: bold;
}
.h-threads-container .h-threads-title {
  color: #cc1105;
}
.h-threads-container .h-threads-name {
  margin-left: 5px;
  color: #117743;
}
.h-threads-container .h-threads-id {
  margin-left: 5px;
}
.h-threads-container .h-threads-second-col {
  color: #999;
}
.h-threads-container .h-threads-time {
  margin-right: 5px;
}
.h-threads-container .h-threads-reply-btn {
  position: absolute;
  top: 3px;
  right: 25px;
}
.h-threads-container .h-threads-content {
  word-break: break-all;
  margin: 6px 0;
}
.h-threads-container .h-threads-image {
  max-width: 100px;
  margin: 6px 10px 6px 0;
}
.h-threads-container .h-badge {
  margin: 0 3px;
}
.h-threads-container .h-threads-reply-container {
  border-bottom: 1px solid #ddd;
  border-left: 3px solid #ddd;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.h-tooltip {
  text-align: left;
  max-width: inherit;
}
.h-tooltip::after {
  display: none;
}
