/**
 * AcFun 匿名版 样式
 */

html, body {
  background-color: #FFFFEE;
  color: #800000;
}

body, tr, td, th {
  font-size: 12pt;
}

a:hover {
  color: #DD0000;
}

small {
  font-size: 10pt;
}

.r {
  text-decoration: none;
}

.report {
  font-size: 12px;
}

#refView {
  border: 1px solid black;
  position: absolute;
}

#refView td {
  background: rgb(240, 194, 168);
}

.hide {
  color: #707070;
  font-size: 12pt;
  cursor: pointer;
}

.hide_content {
  display: none;
}