div(style='position: fixed; margin-bottom: 0px; padding: 5px; width: 100%; left: 0px; bottom: 0px; color: #cc0000; background-color: #ffffee; border-top: 1px black solid; ')
    div(style='font-size: 12px;')
        div(style='margin-bottom: 5px;')!=htmlBottom
        | 当前在线：
        script#tc_iqsi5f1w(type='text/javascript').
            var _tcq = _tcq || []; _tcq.push(['blog', 'iqsi5f1w', '001996', '5cfffa']);
            (function() { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = 'http://widgets.tcimg.com/v2/blog.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();
        | 常用串：
        a(href='/t/378044') 触手交流
        | ·
        a(href='/t/117617') 壁纸楼
        | ·
        a(href='/t/103123') 足控福利
        | ·
        a(href='/t/114373') 淡定红茶
        | ·
        a(href='/t/234446') 胸器福利
        | ·
        a(href='/t/55255') 黑妹
        | ·
        a(href='/t/328934') 总有一天
        | ·
        a(href='/t/49607') 这是芦苇
        | ·
