extends ../layout/index

block body
    center
        img(src='http://sou.im/cover.php')
    div(style='text-align: left; width: 800px; font-size: 12px; color: rgb(204, 0, 0); margin: 10px auto 0px;')
        | 欢迎，这里是Acfun匿名讨论版，在这里不需要进行注册，请不要发送过分敏感信息，遵守相关法律法规。
        br(style='text-align: left;')
        | 有问题请转向
        a(href='/值班室', target='_blank', style='text-align: left;') 值班室
        | 。
        br(style='text-align: left;')
        br(style='text-align: left;')
        | 请注意以下版规：
        ul(style='text-align: left;')
            li(style='text-align: left;') 请在相关版块发文，禁止跨版！
            li(style='text-align: left;') 禁止沙发、队形、留名、回复可见、洗版。
            li(style='text-align: left;') 禁止无脑跟风、单纯顶串、辱骂、无脑嘴炮。
            li(style='text-align: left;') 禁止H、露点、政治。
            li(style='text-align: left;')
                | 以上违反都将
                a(href='/t/399734', target='_blank', style='text-align: left;') 吃SAGE
                | 或者删串。
            li(style='text-align: left;') 综合版对于「没有讨论性」、「上古巨坟」、「自说自话」、「过多无意义回应」的串，在保留一段时间后将会吃SAGE。
            li(style='text-align: left;') 大量贴图开一串然后使用回应模式，请不要每一张图片都单独开串！否则砍！
            li(style='text-align: left;') 使用匿名讨论版是一种特权而不是权利，管理员有权片面决定删除留言。
            li(style='text-align: left;')
                | 禁止宣传QQ群，如有需要请到
                a(href='http://wiki.acfun.tv/index.php/QQ', target='_blank', style='text-align: left;') QQ群索引
                | 进行宣传。
        | 以下是一些系統設定：
        ul(style='text-align: left;')
            li(style='text-align: left;') 发文可以使用>>或者>字符进行引用，点击No.编号也可以。
            li(style='text-align: left;') 初次入站生成随机ID，与cookie绑定。
            li(style='text-align: left;') 发文有时间间隔，具体间隔请查看版块说明。
            li(style='text-align: left;') 回文在E-mail填入sage时，可以使串不上浮。（即使有人回复，这个串也不会被顶到前面去）
            li(style='text-align: left;') 可附加图档类型：GIF, JPG, PNG。
            li(style='text-align: left;') 附加图档最大上限 2 M ( 2048K )。宽 250像素、高 250像素以上时自动缩小尺寸显示。
            li(style='text-align: left;') 已开启图片防盗链，只有acfun.tv域下的站点能引用图片。
            li(style='text-align: left;') 图片查看器默认关闭，需要的话可以在左边的"一般设定"中开启。移动设备禁用。
