mixin forum(title,href)
    if href
        a(href=href)!=title
    else
        a(href='/'+title)!=title
    br

mixin forumGroup(title)
    br
    b=title
    br

div(style="text-align: center;")
    a(href="/")
        img(src="/images/ac-bitmap.png" title="写作绅士，读作丧尸" border="none" style="padding: 5px")
div(style="text-align: center; margin-bottom: 10px;")
    font(size="4")
        a(href="/") AC匿名版
font(size="2")
    +forumGroup('综合')
    +forum('综合版1','/%E7%BB%BC%E5%90%88%E7%89%881')
    +forum('欢乐恶搞','/%E6%AC%A2%E4%B9%90%E6%81%B6%E6%90%9E')
    +forum('推理','/%E6%8E%A8%E7%90%86')
    +forum('技术讨论','/%E6%8A%80%E6%9C%AF%E5%AE%85')
    +forum('询问2','/%E8%AF%A2%E9%97%AE2')
    +forum('美食<font style="color:#fff">（汪版）</font>','/%E6%96%99%E7%90%86')
    +forum('喵版','/%E8%B2%93%E7%89%88')
    +forum('音乐','/%E9%9F%B3%E4%B9%90')
    +forum('体育','/%E4%BD%93%E8%82%B2')
    +forum('军武','/%E5%86%9B%E6%AD%A6')
    +forum('模型','/%E6%A8%A1%E5%9E%8B')
    +forum('考试','/%E8%80%83%E8%AF%95')
    +forum('WIKI','/WIKI')
    +forum('数码','/%E6%95%B0%E7%A0%81')
    +forum('速报','/%E9%80%9F%E6%8A%A5')
    +forum('世界杯<font style="color:red;">new</font>','/%E4%B8%96%E7%95%8C%E6%9D%AF')
    +forumGroup('二次元')
    +forum('动画','/%E5%8A%A8%E7%94%BB')
    +forum('漫画','/%E6%BC%AB%E7%94%BB')
    +forum('轻小说','/%E8%BD%BB%E5%B0%8F%E8%AF%B4')
    +forum('小说（连载）','/%E5%B0%8F%E8%AF%B4')
    +forum('二次创作（同人）','/%E4%BA%8C%E6%AC%A1%E5%88%9B%E4%BD%9C')
    +forum('VOCALOID','/VOCALOID')
    +forum('东方Project','/%E4%B8%9C%E6%96%B9Project')
    +forumGroup('游戏')
    +forum('游戏综合版','/%E6%B8%B8%E6%88%8F')
    +forum('沃土','/%E6%B2%83%E5%9C%9F')
    +forum('EVE','/EVE')
    +forum('DNF','/DNF')
    +forum('战争雷霆','/%E6%88%98%E4%BA%89%E9%9B%B7%E9%9C%86')
    +forum('扩散性百万亚瑟王','/%E6%89%A9%E6%95%A3%E6%80%A7%E7%99%BE%E4%B8%87%E4%BA%9A%E7%91%9F%E7%8E%8B')
    +forum('信喵之野望','/%E4%BF%A1%E5%96%B5%E4%B9%8B%E9%87%8E%E6%9C%9B')
    +forum('LOL','/LOL')
    +forum('DOTA','/DOTA')
    +forum('Minecraft','/Minecraft')
    +forum('MUSIC GAME','/MUG')
    +forum('MUGEN','/MUGEN')
    +forum('WOT坦克世界','/WOT')
    +forum('WOW','/WOW')
    +forum('卡牌桌游','/%E5%8D%A1%E7%89%8C%E6%A1%8C%E6%B8%B8')
    +forum('炉石传说','/%E7%82%89%E7%9F%B3%E4%BC%A0%E8%AF%B4')
    +forum('怪物猎人','/%E6%80%AA%E7%89%A9%E7%8C%8E%E4%BA%BA')
    +forum('口袋妖怪','/%E5%8F%A3%E8%A2%8B%E5%A6%96%E6%80%AA')
    +forum('AC大逃杀','/AC%E5%A4%A7%E9%80%83%E6%9D%80')
    +forum('索尼','/%E7%B4%A2%E5%B0%BC')
    +forum('任天堂','/%E4%BB%BB%E5%A4%A9%E5%A0%82')
    +forumGroup('三次元')
    +forum('AKB','/AKB')
    +forum('眼科（COS）','/COSPLAY')
    +forum('电影电视','/%E5%BD%B1%E8%A7%86')
    +forum('摄影','/%E6%91%84%E5%BD%B1')
    +forum('声优','/%E5%A3%B0%E4%BC%98')
    +forumGroup('连线')
    +forum('AcFun','http://www.acfun.tv')
    +forumGroup('功能')
    +forum('订阅','/feed')
    +forumGroup('管理')
    +forum('值班室','/%E5%80%BC%E7%8F%AD%E5%AE%A4')