extends layout/index
block body
    h4 403 - 访问了错误的地址 ⊂彡☆))∀`)
    if data
        p= data
    br
    a(href='javascript:history.back()') 5秒后自动返回
    script window.setTimeout(function(){history.back();},5000);
