extends layout/index
block body
    h4 500 - Server Error
    p 服务器发生错误
    if (typeof data !== 'undefined')
        pre.error
            code
                - _.each(data, function (d) {
                    = d
                - });
    br
    a(href='javascript:history.back()') 返回