center
    br(clear="all")
    if H.settings.footer
        small=H.settings.footer
    else
        small.
            Acfun - 揭示板<br>
            <a href="http://static.acfun.mm111.net/h/mp3/2086873069547641.mp3">When </a><a href="http://static.acfun.mm111.net/h/mp3/1153387697548709.mp3">I wish</a><a href="http://static.acfun.mm111.net/h/mp3/2086873069547641.mp3"> upon a star.</a><br>
            信息网络传播视听节目许可证 1904047 网站备案号:粤B2-20040638