extends ../layout/index
//-
    AcFun匿名版 - 手机版 - 首页
block content
    div.uk-container.uk-container-center
        h4.h-forum-subtitle 是否切换到手机版AC匿名版？
        p 确认这个选择后在3小时内将不再提示，您也可以通过侧边栏找到切换选项手动切换
        a.uk-button.uk-width-1-1.uk-margin-small-bottom.uk-button-primary(href='/.mobile?switch=true') 确认切换到手机版
        a.uk-button.uk-width-1-1(href='/?switch=false') 放手！我不需要！