include  ./global
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title= page.name + " - " + H.settings.siteName
        +css('/css/bootstrap.min.css')
        +css('/css/fm-dashborad.css')
        +js('/js/jquery.min.js')
        +js('/js/bootstrap.min.js')
    body
        include ./nav
        div.bs-docs-header
            +container(true)
                h1= page.name
                p= page.desc
        +container(true)
            block body