extends ../layout/index

//-
    AcFun匿名版 - 手机版 - 400

block content
    div.uk-container
        h4.h-forum-subtitle 400 - 验证发生错误 ･ﾟ( ﾉд`ﾟ)
        if data
            p= data
        br
        div.uk-from-row
            a.uk-button.uk-width-1-1.uk-button-primary(href='javascript:history.back()') 5秒后自动返回
        script window.setTimeout(function(){history.back();},5000);